
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

/* Global classes styling */

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
}
  
.logo {
    width: 60vw;
}
  
@media (max-width: 650px) {
    .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
    }
}
  
.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
  
@media (max-width: 650px) {
    .logo > img {
        margin: 0 auto;
    }
 }
  
nav {
    font-size: 1.4rem;
    font-weight: 400;
}
  
@media (max-width: 650px) {
    nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
    }
}
  
nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
@media (max-width: 650px) {
    nav > ul {
        flex-direction: column;
    }
}

#subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 90px;
}
  
#subscribe > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}
  
#subscribe input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
  
#subscribe input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}
  
#subscribe input[type="submit"]:hover {
    background-color: orange;
    transition: background-color 1s;
}
  
@media (max-width: 650px) {
    #subscribe {
      margin-top: 120px;
    }
}
/*

section {
    background-color: #e4ebf2;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-justify: auto;
    margin: 1em;
    padding: 1em;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
@media (max-width: 650px) {
    nav > ul {
        flex-direction: column;
    }
}

#form-div {
    align-self: flex-end;
}

#What\'s_Included > iframe {
    max-width: 560px;
    width: 100%;
}

h2 {
    font-size: 1.8rem;
}

img {
    border-radius: 10px;
    display: block;
    height: auto;
    max-width: 100%;
    width: 200px;
}

.btn {
    background-color: #328daa;
    border-radius: 10px;
    border-style: none;
    color: white;
    padding: 1em;
}
  
.btn:hover {
    background-color: orange;
    transition: background-color 1s;
}

a {
    color: white;
    text-decoration: none;
}

.footer-ul > li {
    color: white;
}

.footer-ul {
    list-style: none;
}

.grid {
    display: flex;
    align-items: baseline;
}

.level {
    font-size: 1.8rem;
}

.nav-ul {
    list-style: none;
}

#Pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    background: #8ed3f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px;
    padding: 1em;
    border: 5px solid #328daa;
    border-radius: 10px;
}

.product > h2 {
    font-size: 2rem;
}

@media (max-width: 800px) {
    #Pricing {
        flex-direction: row;
    }

    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}
*/